#section1{

    padding: 50px;
    background-color: orange;
    width: 200px;
    margin-bottom: 20px;
}

#section2{


    padding: 50px;
    background-color: orangered;
    width: 200px;
}

body{
    margin: 0;
    padding: 0;
}